* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

main .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

main .container .foot {
    position: absolute;
    bottom: 0;
    left: 0;
}

main .container .foot img {
    width: 100%;
}

section .contain {
    padding: 50px 100px;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
}

section .contain .content {
    padding: 80px 40px;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transform: translateX(100px);
    z-index: 99;
}

section .contain .content picture img {
    width: 100%;
}

section .contain .content picture {
    position: absolute;
    top: 0;
    left: 20%;
}

section .contain .content p {
    font-size: 32px;
    color: #555;
    font-weight: 100;
}

section .contain .content .name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

section .contain .content .name span:first-child {
    color: hsl(240, 38%, 20%);
    font-weight: 600;
}

section .contain .content .name span:last-child {
    color: hsl(240, 18%, 77%);
}

section .contain .avatar {
    position: relative;
    height: 600px;
    width: 600px;
}

section .contain .avatar picture.abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 120%;
    z-index: -1;
}

section .contain .avatar picture.abs img {
    width: 100%;
    height: 100%;
}

section .contain .avatar .slide {
    position: absolute;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    background-color: #fff;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    bottom: -25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    left: 50px;
    overflow: hidden;
}

section .contain .avatar .slide picture {
    display: flex;
    transition: ease-in-out all .3s;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

section .contain .avatar .slide picture.active {
    background-color: #eee;
}

section .contain .avatar .slide picture:hover {
    background-color: #eee;
    cursor: pointer;
}

section .contain .avatar .slide picture img {
    width: 25%;
}

section .contain .avatar>img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

@media (max-width:992px) {
    section .contain {
        padding: 0px 80px;
        gap: 50px;
        grid-template-columns: repeat(1, 1fr);
    }
    section .contain .content {
        padding: 40px;
        gap: 25px;
        transform: translateX(0);
    }
    section .contain .content picture {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    section .contain .content p {
        font-size: 30px;
        text-align: center;
    }
    section .contain .content .name {
        justify-content: center;
        font-size: 18px;
    }
    section .contain .avatar {
        height: 380px;
        width: 380px;
        order: -1;
        left: 50%;
        transform: translateX(-50%);
    }
    section .contain .avatar .slide {
        width: 90px;
        height: 45px;
        border-radius: 25px;
        bottom: -22.5px;
        transform: translateX(-50%);
        left: 50%;
    }
    section .contain .avatar>img {
        border-radius: 6px;
    }
}

@media (max-width:768px) {
    section .contain {
        padding: 0px 60px;
        gap: 30px;
    }
    section .contain .content {
        padding: 20px;
        gap: 20px;
    }
    section .contain .content p {
        font-size: 22px;
    }
    section .contain .content .name {
        font-size: 16px;
    }
    section .contain .avatar {
        height: 300px;
        width: 300px;
    }
    section .contain .avatar .slide {
        width: 80px;
        height: 40px;
        border-radius: 20px;
        bottom: -20px;
    }
    section .contain .avatar>img {
        border-radius: 4px;
    }
}